# necessary key definitions
# override by inclusion in a higher priority local layer

# PGP
IMAGE_INSTALL_append = " gnupg"

# gpg --gen-key --default-new-key-algo rsa4096
# gpg --output <key_hexid>-public.asc --armor --export <key_hexid>
# gpg --output <key_hexid>-private.asc --armor --export-secret-key <key_hexid>
# gpg --import <key_hexid>-private.asc

#INHERIT_append = " sign_rpm"
#RPM_GPG_NAME = "<key_hexid>"
#RPM_GPG_PASSPHRASE = "<key passphrase>"

#INHERIT_append = " sign_package_feed"
#PACKAGE_FEED_GPG_NAME = "<key_hexid>"
#PACKAGE_FEED_GPG_PASSPHRASE_FILE = "<path/to/passphrase/file>"

#GPG_SIGNKEY := "--gpg-sign ${GPG_KEY}"
#GPG_HOMEDIR := "--gpg-homedir ${GPG_HOME_DIR}"

# meta-signing-key/README.md
#SIGNING_MODEL := "user"
#UEFI_SB_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/uefi_sb_keys"
#MOK_SB_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/mok_sb_keys"
#IMA_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/ima_keys"
#USER_KEY_SHOW_VERBOSE = "1"

# meta-signing-key/recipes-support/keystore
#RPM_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/rpm_keys"
#RPM_GPG_NAME := "${DISTRO_NAME} Signing"

#MODSIGN_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/modsign_keys"
#SYSTEM_TRUSTED_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/system_trusted_keys"
#SECONDARY_TRUSTED_KEYS_DIR := "${SEC_BOOT_KEYS_DIR}/secondary_trusted_keys"
